@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,700');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Merriweather', serif;
  color: #3c3c3c;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.content-wrapper{
  height: 100%;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

#specials{
  padding-bottom: 105px;
}

.left{
  float: left;
}

.right{
  float: right;
}

#header{
  background: url(../img/vegetables-header.png) 0% 0% no-repeat, #f4f5f5;
  height: 963px;
  position: relative;
}

#header aside.right{
  position: relative;
  height: 100%;
}

#header nav{
  margin-top: 52px;
}

#header li, #pseudo-menu li{
  display: inline-block;
  padding: 15px 27px;
  border: 1px solid transparent;
}

#header li:hover, #pseudo-menu .active{
  border-color: #6e6e6e;
}

#header li a, #pseudo-menu li a{
  font-size: 18px;
  text-decoration: none;
  color: #3c3c3c;
}

h1{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: lighter;
}

/*Чтобы не сливался текст в шапке и футере*/
@media screen and (max-width: 1280px) {
  h1, #header li, address{
    background: #f4f5f5;
  }
}

#advantages{
  width: 100%;
  height: 384px;
  background: url(../img/three-columns-background.png) no-repeat;
}

#advantages figure{
  display: inline-block;
  text-align: center;
  width: 17%;
  margin-top: 65px;
  padding: 0 8%;
}

#advantages h3{
  padding: 3% 0;
}

#advantages p{
  font-weight: lighter;
}

h2{
  position: relative;
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
}

#specials h2{
  padding: 83px 0;
}

#specials h4{
  line-height: 230%;
}

.item-specials{
  display: inline-block;
  width: 33%;
  background: #f8f8f8;
  text-align: center;
}

.item-specials:nth-child(-n+4) img{
  float: left;
}

.item-specials:nth-child(n+5) img{
  float: right;
}

.item-specials hr{
  width: 20%;
  margin: 0 auto;
  border: none;
  color: #383838;
  background-color: #383838;
  height: 1px;
  position: relative;
  top: 70px;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
}

.item-specials:hover hr{
  width: 0px;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
}

.item-specials{
  font-weight: lighter;
}

#about{
  height: 980px;
  background: url(../img/about-us-background.png) no-repeat top right, #eeefef;
}

#about aside{
  width: 50%;
}

#about h2{
  margin-top: 240px;
}

#about p{
  margin-top: 60px;
  font-weight: lighter;
  text-align: center;
  font-size: 22px;
}

.signature{
  float: right;
  margin-top: 40px;
}

#menu{
  margin-bottom: 85px;
}

#menu h2{
  margin-top: 70px;
}

#pseudo-menu{
  text-align: center;
  margin: 40px 0;
}

.menu-page{
  display: inline-block;
  width: 42%;
}

.menu-page:nth-child(1){
  margin-right: 15%;
}

.dish{
  font-weight: lighter;
  font-size: 14px;
  width: 95%;
}

.dish span{
  font-style: italic;
  font-size: 12px;
  width: 58%;
}

.menu-cost{
  font-weight: lighter;
}

.menu-category:not(.active){
  display: none;
}

footer{
  background: url(../img/contact-background.png) no-repeat left top, #eeefef;
  height: 965px;
  width: 100%;
}

#contact h2{
  margin-top: 70px;
}

#contact address td{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 150%;
  vertical-align: top;
}

#contact address td:nth-child(2){
  padding-left: 20%;
}

#contact address span{
  font-size: 16px;
  text-transform: none;
  margin-top: 10px;
  line-height: 120%;
}

#contact address a{
  color: #3c3c3c;
  text-decoration: none;
  border-bottom: 1px dotted #3c3c3c;
}

#contact address a:hover{
  border-color: transparent;
}

#contact aside{
  width: 46%;
  position: relative;
  height: 100%;
}

#contact form{
  margin-top: 100px;
}

#contact h3{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

#contact input{
  background: transparent;
  border: none;
  border-bottom: 1px solid #3c3c3c;
  padding: 12px 23px;
  font-size: 18px;
  font-style: italic;
  outline-color: #fff;
}

.one-two-width input{
  width: 77%;
}

#message{
  width: 91%;
}

.one-two-width{
  width: 43%;
  display: inline-block;
  margin-bottom: 55px;
}

.one-two-width:nth-of-type(2){
  margin-left: 13%;
}

input#submit{
  border: 1px solid #3c3c3c;
  display: block;
  margin: 25px auto 0;
  cursor: pointer;
  outline: none;
  width: 30%;
}

input#submit:hover{
  background: #fff;
}

.share{
  position: absolute;
  bottom: 32px;
  right: 0;
}

.social{
  float: left;
  width: 50px;
  height: 50px;
}

.social-fb{
  background: url(../img/fb.png) no-repeat;
  margin-right: 15px;
}

.social-fb:hover{
  background: url(../img/fb.png) no-repeat, #fff;
}

.social-inst{
  background: url(../img/inst.png) no-repeat;
}

.social-inst:hover{
  background: url(../img/inst.png) no-repeat, #fff;
}

#menu ul{
    padding: 0;
    list-style: none;
}
#menu .dish:after{
    content: leader(dotted);
}
